@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 93%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 0 0% 0%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Times New Roman", serif;
  }
  
  .font-impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .text-shadow {
    text-shadow: 1px 1px 0 #000;
  }
}

/* Стиль "на коленке" */
.wonky-border {
  border-width: 2px 3px 4px 1px;
  border-style: solid;
  border-color: black;
}

.paint-effect {
  image-rendering: pixelated;
}

.ms-serif {
  font-family: "Times New Roman", serif;
}

.rotate-slightly {
  transform: rotate(0.5deg);
}

.rotate-slightly-rev {
  transform: rotate(-0.7deg);
}